.sf/
.sfdx/
.salesforce/

*.json
!sfdx-project.json

*.log
*.tmp
*.bak

node_modules/

DMO-Diagram-Rev-3.pdf

manifest/tracklist-*.xml

force-app/main/default/applications/standard__*.app-meta.xml
force-app/main/default/flexipages/*UtilityBar.flexipage-meta.xml

!docs/
!docs/images/
!docs/images/.gitkeep
